<div class="container">
  <div class="row">
    <!-- You have successfully registered for the event -->
    <p *ngIf="success" class="success animated bounce">You have sucessfully registered. <br> Hope you enjoy the event!</p>
    <!-- STUDENT MEMBER LOGIN -->
    <div *ngIf="!executive" class="col s12 m6 l6">
      <div [ngClass]="{bounce: memberbounce}" class="card small animated bounce hoverable">
        <div class="card-image">
          <img src="images/login/member.jpg">
          <span class="card-title">student member</span>
        </div>
        <div class="card-content center-align">
          <p class="card-message">Sign in to events. That's it!</p>
          <button (click)="animate('member')" class="btn-flat btn-cust">Let's go!</button>
        </div>
      </div>
    </div>

    <!-- EXECUTIVE MEMBER LOGIN -->
    <div *ngIf="!member" class="col s12 m6 l6">
      <div [ngClass]="{bounce: executivebounce}" class="card small animated bounce hoverable">
        <div class="card-image">
          <img src="images/login/executive.jpg">
          <span class="card-title">Executive Board Member</span>
        </div>
        <div class="card-content center-align">
          <p class="card-message">Set up events for members and other stuff.</p>
          <button (click)="animate('executive')" class="btn-flat btn-cust">Let's go!</button>
        </div>
      </div>
    </div>    
  </div>



  <!-- LOGIN AREA -->
  <div *ngIf="category" class="row animated fadeInLeft">
    <!-- MEMBER LOGIN AREA -->
    <div *ngIf="member" class="col s12">
     <p class="area-header">member event sign in</p>
     <!--ALL AVAILABLE EVENTS ARE HERE!-->
     <!-- ACTIVE EVENTS -->
     <div *ngIf="ActiveEvents">
       <ul *ngFor="let event of ActiveEvents" materialize="collapsible" class="collapsible hoverable" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <p class="event-name">{{event.name}}</p> 
            <p class="event-date">{{event.date}}</p>  
          </div>
          <div class="collapsible-body">
            <!-- Sign in form -->
            <div class="row">
              <form materialize>
                <div class="event-registration-form">
                  <!-- Members First Name -->
                  <p class="title">Event Sign In</p>
                  <!-- Attendance ticket -->
                  <div class="input-field col s12 m12">
                    <input [(ngModel)]="ticket" name="ticket" id="ticket" type="text" class="validate">
                    <label for="ticket">Attendance Ticket</label>
                  </div>

                  <div class="input-field col s12 m6">
                    <input [(ngModel)]="firstname" name="firstname" id="firstname" type="text" class="validate">
                    <label for="firstname">First Name</label>
                  </div>
                  <!-- Members Last Name -->
                  <div class="input-field col s12 m6">
                    <input [(ngModel)]="lastname" name="lastname" id="lastname" type="text" class="validate">
                    <label for="lastname">Last Name</label>
                  </div>

                  <!-- Members Email -->
                  <div class="input-field col s12 m12">
                    <input [(ngModel)]="email" name="email" id="email" type="email" class="validate">
                    <label for="email">Email</label>
                  </div>

                  <!-- Member's Phone  -->
                  <div class="input-field col s12 m12">
                    <input [(ngModel)]="phone" name="phone" id="phone" type="text" class="validate">
                    <label for="phone">Phone Number</label>
                  </div>
                  <button (click)="eventSignIn(event._id, ticket, firstname, lastname, email, phone)" class="btn btn-cust">Submit</button>
                </div>    
              </form>  
            </div>

          </div>
        </li>
      </ul>  
    </div>

    <!-- THERE ARE NO ACTIVE EVENTS -->
    <div *ngIf="!ActiveEvents">
      <p class="info">There are no active events</p>
    </div>
  </div>

  <!-- EXECUTIVE MEMBER LOGIN AREA -->
  <div *ngIf="executive" class="col s12 m12">
    <p class="area-header">executive member sign in</p>
    <!-- <div class="input-field col s12 m8">
      <input [(ngModel)]="firstname" name="firstname" id="firstname" type="text" class="validate">
      <label for="lastname">Firstname</label>
    </div>
    <div class="input-field col s12 m8">
      <input [(ngModel)]="lastname" name="lastname" id="lastname" type="text" class="validate">
      <label for="lastname">Lastname</label>
    </div> -->
    <!-- USERNAME -->
    <div class="input-field col s12 m8">
      <input  [(ngModel)]="username" name="username" id="username" type="text" class="validate">
      <label for="username">Username</label>
    </div>
    <!-- PASSWORD -->
    <div class="input-field col s12 m8">
      <input [(ngModel)]="password" name="password" id="password" type="password" class="validate">
      <label for="password">Password</label>
    </div>
    <div class="row">
      <button (click)="verifyLogin(username, password)" class="btn btn-cust">Sign In</button>
      <!-- <button (click)="registerUser()" class="btn btn-cust">Register</button> -->
    </div>
  </div>

  <button (click)="reset()" class="btn btn-cust">Go Back</button>
</div>

</div>