.btn-holder{
  margin:0px;
  padding:0px;
}

.title{
 font-family:lato;
 font-size:1.8em;
 font-weight:bold;
 display:inline-block;
 padding:0px;
 margin:0px;
}

.event-title{
  font-family:lato;
  font-size:1.2em;
  text-align:center;
  padding:0px;
  margin:0px;
}

.record-section{
  font-family:lato;
  font-size:1.1em;
  text-transform: capitalize;
  box-shadow: none;
  color:rgba(0,0,255,.5);
  background-color:transparent;
  border:2px solid rgba(0,0,255,.5);
  border-radius: 10px;
  padding:0px 10px 0px 10px;
}

.record-section:hover{
  background-color:rgba(0,0,255,.25);
  color:white;
}

.table-info{
  font-family:roboto;
  font-size:1em;
}

.cap{
  text-transform: capitalize;
}

.cust-btn{
  border-radius:20px;
  background-color:transparent;
  border:2px solid rgba(0,0,255,.5);
  color:rgba(0,0,255,.5);
}