.card{
  margin-top:50px;
}

.card-title{
  font-family:lato;
  font-size:1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.card-message{
  font-family:karla;
  font-size:1.2em;
}

.btn-cust{
  margin-top:15px;
  border-radius:20px;
  background-color:rgba(0,125,0,.1);
  border:1px solid rgba(0,125,0,.1);
  color:rgba(0,125,0,1);
}

/*EXECUTIVE MEMBER LOGIN AREA*/
.area-header{
  font-family:lato;
  font-size:2em;
  font-weight:bold;
  text-transform: uppercase;
}

/*MEMBER SIGN IN AREA*/
.title{
  font-family:lato;
  font-size:1.5em;
  padding:0px;
  margin:0px;
}

.event-registration-form{
  padding:20px;
}

.success{
  font-family:lato;
  font-size:1.8em;
  text-align:center;
  color:rgba(255,0,0,.85);
}