.team-image{
  height:70px;
  float:left;
  margin-right:20px;
}

.card-header{
  padding:10px;
}

.card-title{
  font-family:lato;
  font-size:1.5em;
  font-weight:bold;
}

.description{
  font-family:lato;
  font-weight:bold;
  padding:10px;
  font-size:1.2em;
  text-transform:capitalize;
  text-align:center;
}


/*USER CHIPS RULES*/
.user-chip{
  margin-bottom:20px;
  position:relative;
  height:100px;
  border-radius:50px;
  background-color:rgba(228,228,228,1);
}

.user-image{
  margin:10px 0px 0px 10px;
  height:80px;
}

.user-information{
  position:absolute;
  top:0px;
  left:90px;
  border-radius:20px;
  padding:7px;
}

.name, .email, .availability{
  font-family:karla;
  color:rgba(106,92,92,1);
  margin-top:5px;
}

.name{
  font-size:1.2em;
}

.email{
  font-size:1em;
  max-width:260px;
  word-wrap: break-word;
  /*border:2px solid black;*/
}

.availability{
  font-size:1em;
}
/*USER CHIPS END*/