<div class="container">
  <div class="row">
    <p class="title">Event Records</p>
    <button class="btn record-section" (click)="show('active')">active</button>
    <button class="btn record-section" (click)="show('archive')">archive</button>
  </div>
  <div class="row">
    <!-- ||||||||||||||||||||||||||||||||||||| -->
    <!-- |||| ACTIVE EVENT RECORDS             -->
    <!-- ||||||||||||||||||||||||||||||||||||| -->
    <div *ngIf="ShowActive">
      <p class="section-title">Active Event Records</p>
      <p *ngIf="" class="notice">there are no active events!</p>
      <ul *ngFor="let event of ActiveEvents" materialize="collapsible" class="collapsible hoverable" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <p class="event-title">{{event.name}} <br> <small>{{event.date}}</small></p>
            <div class="btn-holder right-align">
              <button *ngIf="event.status != 'active'" (click)="activateEvent(event._id)" class="btn cust-btn">Activate</button>
              <button *ngIf="event.archived != 'true'" (click)="archiveEvent(event._id)" class="btn cust-btn">Archive</button>
            </div>
          </div>
          <div class="collapsible-body">
            <table class="bordered centered highlight responsive-table">
              <thead>
                <tr>
                  <th data-field="id">#</th>
                  <th data-field="id">Ticket ID</th>
                  <th data-field="name">Full Name</th>
                  <th data-field="price">Email</th>
                  <th data-field="phone">Phone</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let attendee of event.attendants; let i = index">
                  <td class="table-info">{{i+1}}</td>
                  <td class="table-info">{{attendee.ticket}}</td>
                  <td class="table-info cap">{{attendee.firstname}} {{attendee.lastname}}</td>
                  <td class="table-info">{{attendee.email}}</td>
                  <td class="table-info">{{attendee.phone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>

    <!-- ||||||||||||||||||||||||||||||||||||| -->
    <!-- |||| ARCHIVED EVENT RECORDS           -->
    <!-- ||||||||||||||||||||||||||||||||||||| -->
    <div *ngIf="!ShowActive">
      <p class="section-title">Archived Event Records</p>
      <p *ngIf="!ArchivedEvents" class="notice">there are no archived events!</p>
      <ul *ngFor="let event of ArchivedEvents" materialize="collapsible" class="collapsible hoverable" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <p class="event-title">{{event.name}} <br> <small>{{event.date}}</small></p>
            <div class="btn-holder right-align">
              <button (click)="deleteEvent(event._id)" class="btn cust-btn">Delete</button>
              <button *ngIf="event.status != 'active'" (click)="activateEvent(event._id)" class="btn cust-btn">Activate</button>
            </div>
          </div>
          <div class="collapsible-body">
            <table class="bordered centered highlight responsive-table">
              <thead>
                <tr>
                  <th data-field="id">#</th>
                  <th data-field="id">Ticket ID</th>
                  <th data-field="name">Full Name</th>
                  <th data-field="price">Email</th>
                  <th data-field="phone">Phone</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let attendee of event.attendants; let i = index">
                  <td class="table-info">{{i+1}}</td>
                  <td class="table-info">{{attendee.ticket}}</td>
                  <td class="table-info cap">{{attendee.firstname}} {{attendee.lastname}}</td>
                  <td class="table-info">{{attendee.email}}</td>
                  <td class="table-info">{{attendee.phone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>

    
  </div>
</div>